@CHARSET "ISO-8859-1";

<!-- 
/**
 * @project WebVoyager
 * 
 * @package WebContent/css
 * 
 * @name Main.css
 *
 * @description
 *
 * @author Giacomo Marciani (TEAM 9)
 * 
 */
 -->

body{
	background: #fbfbfb;
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
}

.panelLogo {
	margin-top: 50px;
}

.panelMain {
	background: #ffffff;
	border-radius: 10px;
	padding: 25px;
	margin-top: 25px;
	margin-left: 450px;
	margin-right: 450px;				
}

.panelAmministrazioneUtenti {
	background: #ffffff;
	border-radius: 10px;
	padding: 25px;
	margin-top: 25px;
	margin-left: 200px;
	margin-right: 200px;				
}

.title {
	font-size: 15px;
}

.subtitle {
	padding-bottom: 10px;
}

.text {
	width: 200px;
	border-radius: 5px;
	padding: 5px;
}

.label {
	font-size: 15px;
}

.buttonIconLabelExtraLarge {
	width: 300px;
}
		
.buttonIconLabel {
	width: 100px;
	height: 30px;
}

.buttonIcon {
	width: 30px;
	height: 30px;
}

#feedback { 
	font-size: 1.4em; 
}
		
#selectable .ui-selecting { 
	background: #FECA40; 
}
		
#selectable .ui-selected { 
	background: #F39814; 
	color: white; 
}
		
#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
		
#selectable li { 			
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 18px; 
}
		
.items {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}