@CHARSET "ISO-8859-1";

<!-- 
/**
 * @project WebVoyager
 * 
 * @package WebContent/css
 * 
 * @name Login.css
 *
 * @description
 *
 * @author Giacomo Marciani (TEAM 9)
 * 
 */
 -->

.panelLogo {
	margin-top: 150px;
	align:center !important;
}
		
.panelMain {
	align: center !important;
}