@CHARSET "ISO-8859-1";

<!-- 
/**
 * @project WebVoyager
 * 
 * @package WebContent/css
 * 
 * @name Login.css
 *
 * @description
 *
 * @author Giacomo Marciani (TEAM 9)
 * 
 */
 -->

.panelLogo {
	margin-top: 150px;
}
		
.panelMain {
	margin-left: 500px;
	margin-right: 500px;		
}